extends layout

block content
    div.container-fluid
        div.form-horizontal
            div.form-group
                label.detail-label.col-sm-2 Nome
                p.col-sm-10 Evento 1
            div.form-group
                label.detail-label.col-sm-2 Data de início
                p.col-sm-10 12/31/2014 23:00
            div.form-group
                label.detail-label.col-sm-2 Data de fim
                p.col-sm-10 01/01/2015 01:00
            div.form-group
                label.detail-label.col-sm-2 Lugar
                p.col-sm-10 São Paulo/SP
            div.form-group
                label.detail-label.col-sm-2 Descriçao
                p.justified.col-sm-10 Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
