extends layout

block content
    div.container-fluid
        form(class='form-horizontal', role='form')
            div.form-group
                label(for='talk-name', class='control-label col-sm-2') Nome
                div.col-sm-10
                    input(type='text', class='form-control', id='talk-name', placeholder='Nome da palestra')
            div.form-group
                label(for='talk-description', class='control-label col-sm-2') Descrição
                div.col-sm-10
                    textarea(class='form-control', rows='5', id='talk-description')
            div.form-group
                label(for='talk-event', class='control-label col-sm-2') Evento
                div.col-sm-10
                    select(class='form-control', id='talk-event')
                        each val in [1, 2, 3]
                            option= 'Evento ' + val
            button(type='submit', class='btn btn-primary pull-right') Criar palestra!
