extends layout

block content
    div.container-fluid
        form(class='form-horizontal', role='form')
            div.form-group
                label(for='event-name', class='control-label col-sm-2') Nome
                div.col-sm-10
                    input(type='text', class='form-control', id='event-name', placeholder='Nome do evento')
            div.form-group
                label(for='event-startdate', class='control-label col-sm-2') Data de início
                div.col-sm-4
                    div(class='input-group date', id='event-startdate')
                        input(type='text', class='form-control')
                        span.input-group-addon
                            span.glyphicon.glyphicon-calendar
            div.form-group
                label(for='event-enddate', class='control-label col-sm-2') Data de fim
                div.col-sm-4
                    div(class='input-group date', id='event-enddate')
                        input(type='text', class='form-control')
                        span.input-group-addon
                            span.glyphicon.glyphicon-calendar
            div.form-group
                label(for='event-location', class='control-label col-sm-2') Lugar
                div.col-sm-10
                    input(type='text', class='form-control', id='event-location', placeholder='Lugar')
            div.form-group
                label(for='event-description', class='control-label col-sm-2') Descrição
                div.col-sm-10
                    textarea(class='form-control', rows='5', id='event-description')
            button(type='submit', class='btn btn-primary pull-right') Criar evento!

block script
    script(type='text/javascript').
        $(function() {
            $('#event-startdate').datetimepicker({language: 'pt-br'});
            $('#event-enddate').datetimepicker({language: 'pt-br'});
        });
