extends layout

block content
    div.container-fluid
        a(class='btn btn-primary btn-create', href='/event-create')
            span.glyphicon.glyphicon-plus-sign
            |  Criar Evento
        div.list-group
            each event in events
                span.list-group-item
                    a(class='btn' href='/event-detail/'+event._id)= event.name
                    span
                        a(class='btn' href='/event-edit/'+event._id)
                            span.glyphicon.glyphicon-pencil
                        a(class='btn' href='/event-delete/'+event._id)
                            span.glyphicon.glyphicon-trash
