extends layout

block content
    div.container-fluid
        form(class='form-horizontal', role='form', action='/talk-new', method='POST')
            input(type="hidden", name="_csrf", value="#{csrfToken}")
            div.form-group
                label(for='talk-name', class='control-label col-sm-2') Name
                div.col-sm-10
                    input(type='text', class='form-control', id='talk-name', placeholder='Talk name', name='talkName')
            div.form-group
                label(for='talk-description', class='control-label col-sm-2') Description
                div.col-sm-10
                    textarea(class='form-control', rows='5', id='talk-description', name='talkDescription')
            div.form-group
                label.detail-label.col-sm-2 Event
                p.col-sm-10= event.name
            input(type='hidden', name='talkEvent', value=event.id)
            button(type='submit', class='btn btn-primary pull-right') Create talk!
