extends layout

block content
    div.container-fluid
        a(class='btn btn-primary btn-create')
            i.fa.fa-plus-circle
            |  Criar Palestra
        div.list-group
            each val in [1, 2, 3]
                span.list-group-item
                    a(class='btn' href='#')= 'Palestra ' + val
                    span
                        a(class='btn' href='#')
                            i.fa.fa-pencil
                        a(class='btn' href='#')
                            i.fa.fa-trash
