extends layout

block content
    div.container-fluid
        a(class='btn btn-primary btn-create' href='/talk-create')
            span.glyphicon.glyphicon-plus-sign
            |  Criar Palestra
        div.list-group
            each talk in talks
                span.list-group-item
                    a(class='btn' href='/talk-detail/'+talk._id)= talk.name
                    span
                        a(class='btn' href='/talk-edit/'+talk._id)
                            span.glyphicon.glyphicon-pencil
                        a(class='btn' href='#')
                            span.glyphicon.glyphicon-trash
