var ids = {
    facebook: {
        clientID: 'put your client ID here',
        clientSecret: 'put your client secret here',
        callbackURL: 'http://localhost:3001/auth/facebook/callback'
    }
}

module.exports = ids